/* Define CSS Variables */
:root {
    --light: #005CA3;
    --bright: #F4B942;
    --white: #EBF6FF;
    --dark: #1E0B0E;
  }
  
  /* Use variables in styles */
  body {
    font-family: 'Arial', sans-serif;
  }
  
  .navbar {
    background-color: var(--white);
  }
  
  .btn-primary {
    background-color: var(--light);
    border-color: var(--white);
  }
  
  .btn-secondary {
    background-color: var(--bright);
    border-color: var(--dark);
  }
  
  .jumbotron {
    background-color: var(--white);
    color: var(--dark);
  }
  
  footer {
    background-color: var(--white);
    color: var(--dark);
  }
  
