body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.section-1 { 
    background-color: red; 
    color: red;
}
.section-2 { 
    background-color: blue; 
    color: blue;
}
.section-3 { 
    background-color: yellow; 
    color: yellow;
}
.section-4 { 
    background-color: green; 
    color: green;
}
.section-5 { 
    background-color: purple; 
    color: purple;
}